@use 'reset.module';
@use 'variable';

// global styles
button {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2a6e0f;
  border-left: 5px solid #2a6e0f;
  padding-left: 15px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #9b3f3f;
  border-left: 5px solid #9b3f3f;
  padding-left: 10px;
}
