:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-3: #333333;
  --color-gray-4: #4c4c4c;
  --color-gray-4-rgb: 76, 76, 76;
  --color-gray-6: #666666;
  --color-gray-7: #767676;
  --color-gray-8: #8c8c8c;
  --color-gray-9: #999999;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;

  --form-box-bg: #574b25c2;
  --form-label: rgb(255, 203, 169);
  --form-button-bg: rgb(31, 10, 10);
  --form-button-text: #ffffff;
}
