.supabase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & h1 {
    font-size: 30px;
    font-weight: bold;
  }

  & button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: bisque;
    cursor: pointer;
    transition: all 0.5;

    &:hover {
      background-color: antiquewhite;
    }
  }
}
