.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & span {
    cursor: pointer;

    &:hover {
      color: #ccc;
      text-decoration: underline;
    }
  }
}
